@font-face {
  font-family: 'garamond';
  src: url('../fonts/garamond/gara.ttf')  format('truetype'), /* Safari, Android, iOS */

}






#index_html{
	--color1: rgba(249, 249, 249, 1);
	--color2: rgba(193, 236, 185, 1);
	--color3: rgba(151, 237, 111, 1);
	--color4: rgba(93, 71, 237, 1);
	--color5: rgba(209, 213, 206, 1);
	--color6: rgba(20, 16, 56, 1); /*Deep Purple, A bit light*/
	--color8: #E8F4EB;
	--color9: #333333; /*Atom Grey, A bit light*/
	background-color: var(--color5);
}

#index{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0
	left:0;
	background-color: black;
	color:white;
}

.quadrant_1{
	position: absolute;
	top:0;
	left:0;
  right:50%;
  bottom:50%;
	background-repeat:no-repeat;
	display:flex;
	align-items: center; /* Vertical center alignment */
	justify-content: center; /* Horizontal center alignment */

}
.quadrant_2{
	position: absolute;
	top:0;
	left:50%;
  right:0;
  bottom:50%;

	display:flex;
	align-items: center; /* Vertical center alignment */
	justify-content: center; /* Horizontal center alignment */


}
.quadrant_3{
	position: absolute;
	top:50%;
	left:0;
  right:50%;
  bottom:0;

	display:flex;
	align-items: center; /* Vertical center alignment */
	justify-content: center; /* Horizontal center alignment */



}
.quadrant_4{
	position: absolute;
	top:50%;
	left:50%;
  right:0;
  bottom:0;
	display:flex;
	align-items: center; /* Vertical center alignment */
	justify-content: center; /* Horizontal center alignment */

}

.quadrant_1:hover{
	transform: scale(1.1);
	transition: all 1s;
	cursor: pointer;
}
.quadrant_2:hover{
 	transform: scale(1.1);
	transition: all 1s;
	cursor: pointer;
}
.quadrant_3:hover{

	transform: scale(1.1);
	transition: all 1s;
	cursor: pointer;

}
.quadrant_4:hover{

	 transform: scale(1.1);
	transition: all 1s;
	cursor: pointer;

}


.hidden{
	opacity: 0;
}
#show{
	opacity:1;
	transition: opacity 5s;
}





.l1,.l2,.l3,.l4 {
  position: absolute;
  background: transparent;
  width: 0px;
  height: 0px;

  -webkit-animation-duration: .4s;
  -webkit-animation-iteration-count:1;
  -webkit-animation-timing-function: easeInQuart;
  -webkit-animation-fill-mode: forwards;
}

#long.l3{
	  right: 50%;
	  top: 0;
	  height:100%;
	  width: 1px;
	  -webkit-animation-name: longl3;
	  -webkit-animation-delay: 1s;
}
#long.l4{
	  left: 0;
	  bottom: 50%;
	  width:100%;
	  height: 1px;
	  -webkit-animation-name: longl4;
	  -webkit-animation-delay: 1s;
}

.l1 {
  left: 0;
  bottom: 0;
  height: 50%;
  width: 1px;
  -webkit-animation-name: l1;
  -webkit-animation-delay: .6s;
}

.l2 {
  top: 50%;
  left: 50%;
  width: 50%;
  height: 1px;
  -webkit-animation-name: l2;
  -webkit-animation-delay: .6s;
}

.l3 {
  right: 50%;
  top: 50%;
  height:50%;
  width: 1px;
  -webkit-animation-name: l3;
  -webkit-animation-delay: .6s;
}

.l4 {
  bottom: 50%;
  left: 0;
  width: 50%;
  height: 1px;
  -webkit-animation-name: l4;
	-webkit-animation-delay: .4s;
}
@-webkit-keyframes l1 {
  from   { height: 0; background: #66d664; }
  to  { height: 100%; background: #66d664; }
}

@-webkit-keyframes l2 {
  from   { width: 0; background: #66d664; }
  to  { width: 50%; background: #66d664; }
}

@-webkit-keyframes l3 {
  from    { height: 0%; background: #66d664; }
  to  { height: 50%; background: #66d664; }
}

@-webkit-keyframes longl3 {
  from   { height: 0%; background: #66d664; }
  to  { height: 100%; background: #66d664; }
}

@-webkit-keyframes longl4 {
  from    { width: 0; background: #66d664; }
  to  { width: 100%; background: #66d664; }
}

@-webkit-keyframes l4 {
  from    { width: 0; background: #000; }
  to  { width: 50%; background: #000; }
}


.shadow{
	-webkit-box-shadow: 10px 10px 17px -6px rgba(0,0,0,0.57);
	-moz-box-shadow: 10px 10px 17px -6px rgba(0,0,0,0.57);
	box-shadow: 10px 10px 17px -6px rgba(0,0,0,0.57);
}

#JSobject {
		position: absolute;
		width: 100%;
		height: 100%;
		display:flex;
	  align-items: center; /* Vertical center alignment */
	  justify-content: center; /* Horizontal center alignment */
		/*color: var(--color4);*/
		font-size:1.25em;

}


#blur{
	box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
	filter: blur(10px);
}





/* - - - - - - -- - - - bio.html   - - - - - - - -- - - - - -- */

.full_page {
	position: absolute;
	top, left: 0;
	height: 250%;
	width: 100%;
	background-color: #000000;
}

.top_button{
  position: fixed;
  bottom:5%;
  right:10%;
  z-index:4;
  opacity:0;
}
.rotate {
  -webkit-animation:spin .25s linear forwards;
  -moz-animation:spin .25 linear forwards;
  animation:spin .25s linear forwards;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(180deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(180deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(180deg); transform:rotate(180deg); } }


.nav_button {
  position: fixed;
  opacity:0;
  top:60%;
  left: calc(20% - 100px); /* 100px is the width of the block*/
  z-index:4;
}
#button_show{
  opacity: 1;
  transition: opacity 2s  cubic-bezier(0.895, 0.03, 0.685, 0.22);
}


.center_container {
	padding: 10%;
	border-style: dashed;
	border-color: white;
	display: flex;
	align-items:center;
	align-content:center;
	justify-content: center;
	flex-wrap: wrap;
}
.page_1{

	position: absolute;
	height: 40%;
	width: 100%;
	top, left:0;

	background-image: url("../img/bio_background_v2.png");
	background-size: 100%;
	background-repeat: no-repeat;

	/*background-color: #333333*/

	display: flex;
	align-items:center;
	align-content:center;
	justify-content: center;
	flex-wrap: wrap;

}

.linebreak{
	width: 100%;
	height: auto;
}
/* Defining Transition */


#background_final{
	background-color: white;
	transition: background-color 2s  cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/* ------- PAGE 2 -------- */

.page_2{
	position:absolute;
	height: 60%;
	width: 100%;
	left: 0;
	top: 40%;
	display: grid;
	grid-template-columns: 20% auto 20%;
	grid-auto-rows: 10% auto 10%;

}
.left.header h3 {
  color: #d12374;
}

.page_2 div{
	padding-left: 10px;
	padding-bottom: 10px;
}

.left{
	grid-column: : 1/1
}
.middle{
	grid-column: 2/2;
}
.right{
	grid-column: 3/3;
}

.header{
		grid-row: 1/1;
}
.content {
		grid-row: 2/2;
}
.footer{
	grid-row: 3/3;
}

.center{
  height:100%;
  width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#bio_fancy_quote{
	color: #99968c;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
}

.page_2 h1{
	font-family: garamond;
}
.newline{
  width: 100%;
}




.l3bio_down,.l4bio_top{
  position: absolute;
  background: transparent;
  width: 0px;
  height: 0px;

  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count:1;
  -webkit-animation-timing-function: easeInQuart;
  -webkit-animation-fill-mode: forwards;
}

.l3bio_down{
		left:20%;
	  height:100%;
	  width: 2px;
	  -webkit-animation-name: l3bio_down;
	  -webkit-animation-delay: 1s;
}
.l4bio_top{
		top:10%;
	  width:100%;
	  height: 2px;
	  -webkit-animation-name: l4bio_top;
	  -webkit-animation-delay: 1s;
}

@-webkit-keyframes l3bio_down{
  from    { height: 0%; background: #d12374; }
  to  { height: 100%; background: #d12374; }
}

@-webkit-keyframes l4bio_top {
  from    { width: 0; background: #d12374; }
  to  { width: 100%; background: #d12374; }
}

/*  background-color: #e99203;
/* Timeline*/
.timeline {
  position: absolute;
  background-color: #e99203;
  width: 4px;
  height: 80%;
  top: 10%;
  right:10%;
  border-radius: 50px;
  margin-top: 2px;
  padding: 0px;


}
#line_center{
  display: flex;
  justify-content: center;

}
.timeline_item_right{
  position: absolute;
  top: 10%;
  left: 90%;
  width:10%;
  height: 10%;
  padding:10px;
}

.circle_left{
  position: absolute;
  right: 0;
  top:0;
  width:40px;
  height: 40px;
  border-radius: 50px;
  background-color: #70b398;
  z-index: 3
}
.circle_right{
  box-sizing: border-box;
  position: absolute;
  left: -7px;
  top:0;
  width: 4px;
  height: 4px;
  border-radius: 50px;
  background-color: #70b398;
  z-index: 3
}

.timeline_content{
  margin: 4px;
  border-style: inset;
  height: 100%;
  width: 100%;
}





/*===========================================
                Projects.html
============================================*/

/* Grid layout */
.projects_full_page {
  display: grid;
  grid-template-columns: 10% auto 30%;
	grid-auto-rows: 10% auto 10%;

}

/* Lines Section */

.l3project,.l4project{
  position: absolute;
  background: transparent;
  width: 0px;
  height: 0px;

  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count:1;
  -webkit-animation-timing-function: easeInQuart;
  -webkit-animation-fill-mode: forwards;
}

.l3project{
	  height:100%;
	  width: 2px;
	  -webkit-animation-name: l3project;
	  -webkit-animation-delay: 1s;
    background: #d12374;
}
.l4project{
	  width:100%;
	  height: 2px;
	  -webkit-animation-name: l4project;
	  -webkit-animation-delay: 1s;
    background: #d12374;
}


@-webkit-keyframes l3project{
  from    { height: 50%; background: #d12374; }
  to  { height: 0%; background: #d12374; }
}
@-webkit-keyframes l4project {
  from    { width: 0; background: #d12374; }
  to  { width: 100%; background: #d12374; }
}
