/* Coolors Exported Palette - coolors.co/f9f9f9-c1ecb9-97ed6f-5d47ed-d1d5ce */

/* HSL */
$color1: hsla(0%, 0%, 98%, 1);
$color2: hsla(111%, 57%, 83%, 1);
$color3: hsla(101%, 78%, 68%, 1);
$color4: hsla(248%, 82%, 60%, 1);
$color5: hsla(94%, 8%, 82%, 1);

/* RGB */
$color1: rgba(249, 249, 249, 1);
$color2: rgba(193, 236, 185, 1);
$color3: rgba(151, 237, 111, 1);
$color4: rgba(93, 71, 237, 1);
$color5: rgba(209, 213, 206, 1);